.division_line{
    /* height: 1px; */
    /* border: 1px rgb(34, 22, 22); */
    /* border-style: solid;  */
    /* border: 1px dashed rgb(238, 103, 182); */
    border: 1px dashed black;
}
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.h1_rem{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.3;
}
.h2_em{
    font-size: 2.5em;
    line-height: 1px;
}
.h3_px{
    font-size: 48px;
    line-height: 1px;
}
.h4_vh{
    font-size: 7vh;
    line-height: 1px;
    margin-top: 2.5rem;
    margin-bottom: 2.75rem;
}
.h5_vw{
    font-size: 4vw;
    line-height: 5px;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}
.description{
    font-style:oblique;
}
