.container{
    padding: 6px;
}
.external_container{
    padding: 10px;
    border: 1px solid black;
    background-color: #f1f1da;
    margin: 20px;
    border-radius: 10px;

    .title{
        color: brown;
    }
    .description{
        color: grey;
    }
}

.specificity_container{
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    background-color: #f1e5f7;

    .title{
        color: purple;
    }
    .description{
        color: rgb(21, 101, 21);
    }
}

